.main-banner {
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-image: url("/public/jogging.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1100px) {
    .main-banner .banner-text .banner-first {
        font-size: 15px;
        color: white;
    }
    .main-banner .banner-text .banner-second {
        font-size: 30px;
        color: white;
        text-align: center;
    }
    .main-banner .banner-text .banner-third {
        font-size: 20px;
        color: white;
        text-align: center;
    }
    .banner-text {
        padding: 0px 175px;
    }
    .our-purpose-main-container {
        flex-wrap: wrap;
    }
    .our-purpose-main-container .our-purpose-content .text-content .first-text {
        font-size: 25px;
    }
    .our-purpose-main-container
        .our-purpose-content
        .text-content
        .second-text {
        font-size: 30px;
    }
    .our-purpose-main-container .our-purpose-content .text-content .third-text {
        font-size: 18px;
    }
    .our-purpose-main-container .our-purpose-content {
        /* padding: 150px 60px; */
        width: 100%;
    }
    .our-purpose-main-container .purpose-pics {
        width: 100%;
    }
    .first-in-main {
        flex-wrap: wrap-reverse;
        /* width: 100%; */
    }
    .main-third-container .first-in-main .left-text {
        width: 100%;
        /* padding: 0px 0px; */
    }
    .first-in-main .right-pic {
        width: 100%;
    }
    .first-in-main .left-text span {
        text-align: center;
        font-size: 25px;
    }
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 0px 150px;
    gap: 20px;
    width: 100%;
}

.banner-text .banner-first {
    font-size: 25px;
    color: white;
}
.banner-text .banner-second {
    font-size: 75px;
    color: white;
    text-align: center;
}
.banner-text .banner-third {
    font-size: 35px;
    color: white;
    text-align: center;
}
.our-purpose-main-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* height: auto; */
}
.our-purpose-content {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f5f2;
    padding: 100px 120px;
}
.our-purpose-content .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.text-content .first-text {
    font-size: 25px;
    color: rgb(104, 103, 103);
}
.text-content .second-text {
    font-size: 50px;
    text-align: center;
}
.text-content .third-text {
    font-size: 18px;
    text-align: center;
    line-height: 25px;
}
.purpose-pics {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* overflow-y: scroll; */
    background-color: #42676b;
    padding: 45px 120px;
}
/* .pics-content {
    height: 100%;
    width: 100%;
} */
.purpose-pics::-webkit-scrollbar {
    display: none;
}
.well-body,
.well-mind,
.well-spirit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* padding: 0px 100px; */
    color: white;
}
.well-body img {
    width: 70%;
}

.well-body .border {
    width: 1px;
    height: 30px;
    background-color: white;
}
.well-body .well-first {
    font-size: 35px;
}
.well-body .well-second {
    text-align: center;
    font-size: 20px;
}
.well-body .well-third {
    font-size: 18px;
    color: white;
}
.main-third-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #0c2130;
    width: 100%;
    gap: 70px;
    /* height: 100%; */
    padding: 100px 0px;
}
.first-in-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.first-in-main img {
    width: 80%;
}
.first-in-main .left-text {
    text-align: start;
}
.first-in-main .left-text,
.right-pic {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    font-size: 40px;
}
.second-in-main {
    gap: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-in-main .heading span {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.three-paras {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 40px;
    padding: 0px 100px;
}
.para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.para span {
    text-align: center;
    line-height: 30px;
    font-size: 19px;
    gap: 20px;
    padding-top: 15px;
}
@media (max-width: 800px) {
    .three-paras {
        flex-wrap: wrap;
        padding: 0px 50px;
    }
    .main-third-container .first-in-main .left-text {
        width: 100%;
        padding: 0px 50px;
    }
}
@media (max-width: 600px) {
    .para h1 {
        font-size: 20px;
    }
    .our-purpose-content,
    .purpose-pics {
        padding: 100px 25px;
    }
    .banner-text {
        padding: 0px 30px;
    }
}
