.featured-container{
  display: flex;
  flex-wrap: wrap;
    gap: 36px ;

}
  .featured-card {
      /* border: 1px solid #ccc;
      border-radius: 5px;
      max-width: 31%;
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02); */
      width: 31%;
      display: flex;
      background-color: #fff;
      flex-direction: column;
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin-bottom: 20px;
    }
  .featured-card:hover {
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
      
    }
    .featured-img-container{
      display: block;
      height: 100%;
   
    }
    
    .featured-img {

      height: 100%;
      width: 100%;
      

      
    }
    
    .featured-body {
      padding: 10px 0;
      color: #57544e;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      /* text-align: center; */
  
    }
    
    .featured-title {
      font-size: 24px;
      margin-bottom: 10px;
      font-weight: 300;
      cursor: pointer;
    }
    .featured-title:hover{
      text-decoration: underline;
    }
    
    .featured-text {
      font-size: 14px;
      margin-bottom: 10px;
      color: #252525;
      cursor: pointer;
    }
    
    .featured-text:hover {
     text-decoration: underline;
    }
    .featured-author {
      font-size: 14px;
      margin-bottom: 10px;
      color: #252525;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    }
    @media (max-width: 768px) {
      .featured-card{
        width: 29%;
        
       }
       .featured-img {
      min-height: 50%;

        
       }
       .featured-title {
        font-size: 20px;
       }
     
    }
  @media(max-width:477px){
    .featured-card{
     width: 100%;
     margin-bottom: 34px;
     max-width: 100%;

     
    }
    .featured-container{
        display: block;
        
    }
 
 }
