#page-header{
    background-image: url("https://images.everydayhealth.com/images/skin-beauty/tweak-your-skin-care-routine-for-fall-722x406.jpg");
    width: 100%;
    height: 40vh;
    background-size: contain;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-header h2,p{
    color: #fff;
}