    .home-container{
        padding: 12px 40px;

    }
    .featured-section{
        display: flex;
        justify-content: space-between;
    }
    .recent-container{
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        flex-wrap: wrap;
      }