.pop-up-main{
    height: 100%;
    position: absolute;
    top: 0;

    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a9a9a9c4;
    /* background-color: rgba(255, 255, 255, 0.726); */
    z-index: 999;
    overflow: hidden;








}
.pop-up{

    /* border: 1px solid black ; */
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    max-width: 480px;

}
.content-container{
    background-color: #42676b;
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    

}
.content-container > .close{
   display: flex;
    
    justify-content: end;
    padding-top: 20px;
    padding-right: 30px;
   
    /* border: 1px solid red; */
}
.content-container > .close > i{
    font-size: 24px;
    color: white;
    cursor: pointer;

}
.content{
    /* border: 1px solid red; */
    /* text-align: center; */
    background-color: #42676b;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

   
}
.content-container >.content> h3{
    font-size: 32px;
    line-height: 36px;
    color: white;
    margin-bottom: 10px;
    
}
.desc{
    width: 70%;
    flex-wrap: wrap;
    margin-bottom: 10px;

}
.content> .desc>p{
    font-size: 16px;
    line-height: 24px;
    color: white;
    font-weight: 400;

}
.pop-form{
    display: flex;
    margin-top: 10px;
    max-width: 260px;
    width: 100%;
    margin-bottom: 40px;

}
.pop-form>input{
    height: 40px;
    padding: 0 12px;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;   

}
.pop-form >.pop-btn{
    height: 40px;
    background-color: white;
    color: #2f4b4e;
    font-weight: 900;
    padding: 0 20px;
    white-space: nowrap;
    border: 1px solid #088178;
    /* border-radius: 4px; */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; 
    cursor: pointer; 

}
.bottom-line{
    background-color: white;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.bottom-line > span {
    color: #42676b;
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 700;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.bottom-line >a{
    text-decoration: none;
}
.bottom-line >a > span{
    color: #42676b;
    font-weight: 900;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 5px;
}