.recent-container {
    display: flex;
    flex-wrap: wrap;
    gap: 36px ;
    border: 1px solid red;

    
    
}

.recent-card {
    width: 23%;
      display: flex;
      background-color: #fff;
      flex-direction: column;
      box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin-bottom: 20px;
    
}
/* .recent-card:nth-child(4n + 3) {
    justify-self: flex-start;
} */
.recent-card:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}
.recent-img-container{
    display: block;
    height: 100%;
    max-height: 220px;

 
}

.recent-img {
    /* display: block; */
    height: 100%;
    width: 100%;


}

.recent-body {
    padding: 10px 0;
    color: #57544e;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* text-align: center; */
}

.recent-title {
   
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}
.recent-title:hover {
    text-decoration: underline;
    color: #42403d;

}
.recent-title > h3{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 10px;
    color: #42403d;
}





.recent-body > span{
    text-transform: uppercase;
    color: #131212;
    font-size: 14px;

}
.recent-author {
   
    text-decoration: none;
    color: #131212;
    letter-spacing: 1.5px;


}
.recent-author:hover {
    text-decoration: underline;
    color: #131212;


}
.recent-author > span{
    font-size: 14px;
    /* margin-left: 4px; */
    margin-bottom: 10px;
    color: #131212;
    letter-spacing: 1.5px;


    text-transform: uppercase;
}
/* @media(max-width:1024px){
    .recent-container {
        gap: 30px;
    }
    .recent-card{
        width: 31%;

    }
  } */
  @media (min-width: 992px) and (max-width: 1400px){
    .recent-container {
        gap: 30px;
    }
    .recent-card{
        width: 31%;

    }
  
    
  }

@media (min-width: 768px) and (max-width: 990px){
    .recent-container {
        gap: 32px;
 
    }
    .recent-card {
        width: 47%;
        margin-bottom: 34px;

    }
}
@media (min-width: 636px) and (max-width: 768px){
    .recent-container {
        gap: 30px 42px;
 
    }
    .recent-card {
        width: 46%;
        margin-bottom: 34px;

    }
    .recent-img {
        object-fit: cover;
    }
}
   
@media (max-width: 635px) {
    .recent-card{
      width: 100%;
      max-width: 100%;
      
 
      
     }}


@media (max-width: 477px) {
    .recent-container {
        gap: 0;
 
    }
    .recent-card {
        width: 100%;
        margin-bottom: 34px;
 
    }
    /* .recent-section{
      padding: 20px 14px;
     } */
}
