.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* adjust opacity here */
    z-index: 1;
}

.side-bar-main-container {
    width: 350px;
    height: 100vh;
    background-color: white;
    top: 0;
    left: -200%;
    transition: 850ms;
    position: fixed;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: start;
    padding-left: 35px;
    overflow-y: scroll;
    z-index: 5;
}
.side-bar-main-container.active {
    left: 0;
    transition: 350ms;
}
.toggle-close-icon {
    top: 30px;
    right: 30px;
    position: absolute;
    cursor: pointer;
}
.toggle-close-icon i {
    font-size: 20px;
    color: rgb(122, 121, 121);
}
.side-bar-menu {
    width: 80%;
    border-bottom: 1px solid rgb(207, 206, 206);
    padding: 15px 0px;
    margin-top: 15px;
}
.side-bar-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 15px; */
    width: 100%;
}
.side-bar-menu ul li {
    width: 100%;
    list-style: none;
    padding: 7px 0px;
}
.side-bar-menu ul li a {
    text-decoration: none;
    width: 100%;
    color: black;
    font-size: 11px;
    letter-spacing: 1px;
}
.side-bar-footer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 13px;
    padding: 10px 0px;
}
.side-bar-footer a {
    /* width: 200px; */
    /* height: 30px; */
    background-color: #55777a;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 60px;
    text-align: center;
    font-size: 10px;
}
.side-bar-footer span {
    color: #55777a;
}
.side-bar-icons {
    color: #55777a;
}
.side-bar-icons a {
    color: #55777a;
    cursor: pointer;
}
.side-bar-icons i {
    padding: 10px;
}
.open-side-bar {
    cursor: pointer;
}

