.author-strories-section {
    height: 100%;
    width: 100%;
    padding: 10px 40px;
    /* border: 1px solid red; */
}
.author-strories-section > .stories-author {
    margin: 10px 0;
    padding: 10px 0;
}
.author-strories-section > .stories-author > .author-name {
    text-align: start;
    margin-bottom: 10px;
    font-size: 28px;
    color: #403333;
    font-weight: 500;
}
hr {
    border-color: #f6f5f4;
}
.story-card {
    display: flex;
    /* border: 2px solid yellow; */
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
}

.story-card:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
    /* cursor: pointer; */
}

.story-img-container {
    display: flex;
    height: 100%;
    width: 45%;
    cursor: pointer;
}

.story-body {
    margin-left: 40px;
    /* border: 2px solid red; */
    color: #57544e;
    height: 100%;
    padding: 5px;
}
.story-category {
    margin: 20px 0;
    font-weight: 600;
    font-size: 16px;
    color: #42676b;
}

.story-title {
    font-size: 30px;
    margin: 10px 0;
    font-weight: 300;
    cursor: pointer;
}
/* .story-title:hover{
       text-decoration: underline;
     } */

.story-line {
    margin: 10px 0;
    font-size: 28px;
}
.story-author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.story-author > .author-img {
    width: 8%;
    border-radius: 50%;
}
.story-author.author-name {
    font-size: 19px;
    margin-bottom: 10px;
    color: #252525;
}

@media (max-width: 768px) {
    .story-card {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .story-body {
        padding: 10px;
    }
    .story-img-container {
        text-align: center;
    }
}

@media (max-width: 477px) {
    .author-strories-section {
        padding: 10px 20px;
    }
    .story-card {
        display: flex;
        flex-direction: column;
    }
    .story-img-container {
        width: 100%;
    }
    .story-card {
        width: 100%;
    }
    .story-body {
        margin-left: 0;
    }
}
