.main-post-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* width: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}
.post-category-heading span {
    border-bottom: 1px solid black;
    color: rgb(87, 85, 85);
}
.second-post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 65px;
    gap: 25px;
}
.second-post-container .main-post-heading {
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    color: rgb(94, 92, 92);
    line-height: 45px;
}
.detail-user-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.detail-user-name img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.post-date-time,
.detail-user-name,
.post-main-image span {
    color: rgb(94, 92, 92);
}
.post-main-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.post-article-main {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    /* flex-wrap: wrap; */
}
.shop-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-right-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap: 35px;
}
.google-ads {
    width: 25%;
    justify-content: center;
    display: flex;
}
.border-article {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border: 1px solid rgb(204, 202, 202);
    padding: 20px;
    margin-top: 30px;
    position: relative;
}
/* .border-article::before {
    content: "";
    position: absolute;
    border: 1px solid rgb(214, 211, 211);
    top: 0;
    left: 0;
    width: 70%;
} */

.shop-logo {
    width: 20%;
}
.shop-text {
    width: 80%;
}
.shop-text span {
    line-height: 20px;
}
.shop-text a {
    color: black;
}
.main-article span {
    line-height: 35px;
    font-size: 18px;
    color: rgb(85, 84, 84);
}

.post-mid-image {
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding: 0px 100px; */
    margin-top: 20px;
}
.post-mid-image img {
    width: 60%;
}
.post-second-heading-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.post-second-heading-container .link-to-product a {
    font-size: 25px;
    font-weight: lighter;
    color: rgb(99, 97, 97);
}
.post-second-heading-container .product-size-url {
    font-size: 18px;
    color: rgb(99, 97, 97);
}
.product-size-url a {
    color: rgb(99, 97, 97);
}
.shop-now-btn {
    background-color: #42676b;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-now-btn a {
    text-decoration: none;
    color: white;
}
.after-second-heading img {
    width: 80%;
}
.after-second-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px 0px;
    border-bottom: 1px solid rgb(218, 215, 215);
}
.after-second-heading span {
    /* text-align: center; */
    line-height: 30px;
    font-size: 18px;
    color: rgb(77, 75, 75);
    text-align: start;
}
.for-all-updates {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 50px;
    background-color: #f9f5f2;
}
.for-all-updates .update-first-text {
    font-size: 20px;
    color: rgb(95, 94, 94);
}
.for-all-updates .update-second-text {
    color: rgb(95, 94, 94);
}
.for-all-updates .email-area input {
    border: none;
    outline: none;
    padding: 15px 75px 15px 10px;
}
.for-all-updates .email-area a {
    padding: 14px 15px;
    background-color: #42676b;
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.tags .border-tags:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}
.tags,
.border-tags {
    color: rgb(107, 106, 106);
}
.foot-text {
    margin-bottom: 20px;
}
.foot-text span {
    font-size: 13px;
    color: rgb(107, 106, 106);
    border: 1px solid rgb(167, 166, 166);
    padding: 10px;
}
@media (max-width: 1200px) {
    .post-article-main {
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .post-right-article {
        width: 100%;
    }
    .google-ads {
        width: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-post-container {
        width: 100%;
        overflow-x: hidden;
    }
    .second-post-container {
        margin: 0;
    }
    .foot-text span {
        border: none;
    }
}

.new-line {
    white-space: pre-line;
}
