/*  */
.email-box {
    width: 100%;
}

.email-box input {
    width: 100%;
    border: 1px solid rgb(206, 203, 203);
    height: 30px;
    outline: none;
    padding: 0px 10px;
    transition: 0.3s;
}
.email-box input:focus ~ label {
    font-size: 5px;
    transform: translateY(-20px);
}

.nav-subscribe-btn {
    width: 100%;
    background-color: #55777a;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 60px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
}